.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.arrow.right {
  left: 430px;
}

.arrow.left {
  left: 10px;
}

ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

#carousel {
  transition: all 0.8s;
}

ul img {
  width: 130px;
  height: 130px;
  display: block;
}
/*removes extra space near images*/
ul li {
  display: inline-block;
}
/* removes extra space between list items */

.images {
  width: 390px;
  overflow: hidden;
  background: rgb(235, 233, 233);
  position: absolute;
  top: 10px;
  left: 35px;
}

.wrapper {
  width: 460px;
  height: 150px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  position: relative;
}
